@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --menu: #7b4c2f;
    --home: #6a3e23;
    --text: #a67855;
    --nav: #5a3624;
    --header: #9c7b61;
    --primary-color: #3e2c20;
    --secondary-color: rgba(225, 160, 100, 0.9);
    --accent-gold: #b8956e;
    --accent-cream: #eee0d6;
    --accent-beige: #d6c2ab;
    --text-dark: #2c1f17;
    --text-light: #f7f2ee;
    --btn-brown: #8b5e3c;
    --btn-brown-hover: #6f462a;
    --nav-background: #4b3627;
    --header-bg: #3e2f27;
}
body {
    font-family: "Inter", sans-serif;
    background-color: var(--accent-cream);
    color: var(--text-dark);
}

h1, h2, h3, h4 {
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
    color: var(--header-bg);
}
header {
    background-color: var(--header);
    height: 60px;
    z-index: 999;
    padding: 0 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
header .ll{
    display: none;
}

header nav ul li {
    background-color: var(--nav);
    width: 18%;
    padding: 8px;
    transition: 0.3s ease;
}
header nav ul li:hover {
    background-color: var(--nav);
    transform: scale(1.2);
}
.nav-background {
    background-color: var(--nav-background);
    transform: scale(1.2);
}
header nav ul li a {
    color: var(--text-light);
    font-size: 20px;
    line-height: 20px;
    transition: 0.3s ease;
}
header nav ul li a:hover {
    color: var(--accent-gold);
    letter-spacing: 2px;
}
.Home {
    margin-top: 60px;
    padding: 30px 0;
    background-color: var(--home);
    max-height: 800px;

}

.title {
    text-align: center;
    color: var(--text-dark);
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.title h3{
transition: 0.3 ease;
}
.title h3:hover {
    color: var(--text-light);
    letter-spacing: 2px;
}

.title span {
    display: block;
    width: 200px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px auto 0;
    transition: 0.3s ease;
}
.title span:hover {
    background-color: var(--text-light);
    width: 250px;
    transition: 0.3s ease;
}
.Home .shop-desc .desc {
    width: 40%;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2rem;
    line-height: 35px;
    color: var(--accent-gold);
    letter-spacing: 1.5px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.8s ease;
    opacity: 0.3;
}
.Home .shop-desc .desc:hover {
    color: var(--text-light);
    letter-spacing: 2px;

}

.Home .shop-desc .img {
    width: 30%;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.Home .shop-desc img {
    transition: 0.8s ease;
    object-fit: contain;
    top: -1000px;
    position: absolute;
}
.Home .shop-desc img:hover {
    transform: scale(1.2);
}
.about {
    padding: 30px 0;
    background-color: var(--accent-beige);
    height: 600px;
}
.about .shop-about {
    padding: 0 30px;
    height: 500px;
    position: relative;
}
.about .shop-about .about-desc {
    width: 45%;
    height: 90%;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    line-height: 32px;
    color: var(--text-dark);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}
.about .shop-about .about-desc:hover {
    color: var(--text-light);
    letter-spacing: 1.5px;
}
.about .shop-about .gallery {
    width: 40%;
    height: 300px !important;
    box-sizing: content-box;
}
.about .shop-about .gallery img {
    height: 100%;
    object-fit: revert-layer;
    border-radius: 10px;
   transition: 0.3s ease;
}
.about .shop-about .gallery img:hover
{
    transform: scale(1.2);
}
.gallery-section {
    height: 600px;
    padding: 30px 0;
    background-color: var(--accent-gold);
}
.gallery-section .gallery {
    width: 95%;
    transition: 0.8s ease;
}
.gallery-section .carousel-item {
    height: 500px !important;
}
.gallery-section .gallery img {
    object-fit: contain;
}
.carousel-caption h4{
    color: var(--btn-brown);
}
.menu{
    padding: 30px 0;
    background-color: var(--menu);
}
.menu .menu-items .card {
    width: 45%;
    height: 400px;
    border-radius: 15px;
    background-color: var(--accent-beige);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    opacity: 0.3;
    transition: 1s linear;
}
.menu .menu-items .card:hover {
    transform: translateY(-5px);
}
.menu .menu-items .card .img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.menu .menu-items .card .img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.5s ease;
}
.menu .menu-items .card .img img:hover {
    transform: scale(1.1);
}
.menu .menu-items .card .card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
}
.menu .menu-items .card .card-text {
    font-size: 16px;
    color: var(--text-dark);
    margin-bottom: 15px;
}
.menu .menu-items .card span {
    font-size: 18px;
    font-weight: bold;
    color: var(--btn-brown-hover);
}
.menu .menu-items .card button {
    width: 90%;
    background-color: var(--accent-gold);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    color: white;
    margin: 15px;
    font-size: 16px;
    transition: 0.3s ease;

}
.menu .menu-items .card button:hover {
    transform: scale(1.08);
    background-color: var(--accent-cream);
}
.contact{
    padding: 30px 0;
    background-color: var(--accent-cream);
}
.contact .contact-body .contact-info {
    width: 45%;
    padding:20px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    opacity: 0.3;
}

.contact .contact-body .contact-info ul  {
    color: var(--accent-gold);
}
.contact .contact-body .contact-info:hover {
    color: var(--text-light);
    letter-spacing: 2px;
}
.contact .contact-body .contact-info i:hover {
    transform: scale(1.2);
    color: var(--text-dark);
}
.contact .contact-body .contact-info ul li {
    margin: 10px;
    font-size: 1.5rem;
}
.contact-form {
    width: 50%;
    height: 90%;
    background: var(--accent-beige);
    padding: 0 35px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.contact-form h2 {
    margin: 20px;
    color: var(--text-dark);
}
.input-group label{
    margin-bottom: 5px;
    color: var(--primary-color);
    font-weight: bold;
}
.input-group input,
.input-group textarea {
   padding: 10px;
    border: 2px solid var(--accent-cream);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-size: 16px;
    outline: none;
    transition: 0.2s ease;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #18cc9c;
    box-shadow: 0 0 5px rgba(4, 142, 130, 0.3);
}
.btn{
    width: 100%;
    background-color: var(--accent-gold);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    color: white;
    margin: 15px;
    font-size: 16px;
    transition: 0.3s ease;
}
.btn:hover {
    transform: scale(1.08);
    background-color: var(--accent-cream);
}
    .my-alert {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 500px;
        z-index: 9999;
        display: none;
    }

    .footer {
        height: 100px;
        background-color: var(--btn-brown);
    }

    .footer div h3 {
        color: var(--accent-gold);
        font-family: "Oswald", sans-serif;
    }
    .footer a {
        color: var(--text-dark);
        text-decoration: none;
    }
    .footer a:hover {
        color: var(--text-light);
    }
    .footer p {
        color: var(--accent-cream);
        font-family: "Oswald", sans-serif;
        font-weight: 300;
    }

@media (max-width: 991px) {
    header {
        flex-direction: column;
        height: 120px;
        padding: 0;
        margin: 0;
        gap: 10px;
       
    }
    header .logo {
        width: 100%;
        text-align: center;
    }
    header nav {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100px !important;
    z-index: 9999;
     margin: 0; 
      padding: 0;
    }
    header .ll{
        display: block;
         width: 100%;
        text-align: center;
        color: var(--btn-brown-hover);
    }
    header nav ul {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 !important;
        padding: 0 !important;
        width: 100px !important;
        
    }
    header nav ul li {
    width: 100% !important; 
    padding: 8px 15px !important;  
    margin: 0 !important;
            
    }
    header nav ul li a {
    display: inline-block;  
    padding: 0 10px;        
}
    .Home{
        margin-top: 120px;
    }
    .Home .shop-desc {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
    .Home .shop-desc .desc,
    .Home .shop-desc .img {
        width: 90%;
        padding: 20px 10px;
        margin: auto;
    }

    .Home .shop-desc .img {
    height: 350px;
    display: flex;           
    justify-content: center;
    align-items: center;    
}

.Home .shop-desc .img img {
    margin: auto;
}

    .about {
        height: auto;
    }
    .about .shop-about {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
    .about .shop-about .about-desc,
    .about .shop-about .gallery {
        width: 100%;
    }
    .about .shop-about .gallery img {
        height: 250px;
    }
    .gallery-section {
        height: auto;
    }
    .gallery-section .carousel-item {
        height: 350px;
    }
    .menu .menu-items {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .menu .menu-items .card {
        width: 90%;
        height: 250px;
        flex-direction: column;
        margin: auto;
    }
    .menu .menu-items .card .img {
        width: 100%;
        height: 250px;
        border-radius: 15px 15px 0 0;
    }
    .menu .menu-items .card .card-body {
        width: 100%;
        text-align: center;
    }
    .contact .contact-body {
        flex-direction: column;
        width: 90%;
        gap: 30px;
    }
    .contact .contact-body .contact-info,
    .contact .contact-form {
        width: 100%;
    }
    .contact-form {
        padding: 20px;
    }
    .contact-form button{
        margin: auto;
    }
    
    .footer {
        height: auto;
        padding: 20px 0;
    }
}
@media (max-width: 600px) {
    header nav ul li a {
        font-size: 16px;
    }
    .title {
        font-size: 22px;
    }
    .Home .shop-desc .desc {
        font-size: 1.5rem;
        line-height: 28px;
        padding: 15px;
    }
    .about .shop-about .about-desc {
        font-size: 1.5rem;
        line-height: 28px;
    }
    .menu .menu-items .card span {
        font-size: 16px;
    }
    .menu .menu-items .card button {
        font-size: 14px;
    }
    .contact .contact-body .contact-info ul li {
        font-size: 1.2rem;
    }
}

